<div class="createnewpage pagebg" ng-controller="UsecaseCtrlController">
    <div class="container-fluid">
        <div class="row">
            <div ng-show="pagemain.main">
                <div class="sub_menu">
                    <ul>
                        <li class="active btn btn-sub-menu"> <a ng-click="pageUsecase()">Use Cases</a></li>
                        <li class="btn btn-sub-menu"> <a ng-click="pageRule()">Rule</a></li>
                    </ul>
                </div>
            </div>
            <div ng-show="pagemain.usecase">
                <div class="sub_menu">
                    <ul>
                        <li class="active btn btn-sub-menu"> <a ui-sref="home.createusecase">Create Use Cases</a></li>
                        <li class="btn btn-sub-menu"> <a ui-sref="home.updateUsecase">Update Use Cases</a></li>
                    </ul>
                </div>
            </div>
            <div ng-show="pagemain.rule">
                <div class="sub_menu">
                    <ul>
                        <li class="btn btn-sub-menu"> <a ui-sref="home.createrule">Create Rule</a></li>
                        <li class="btn btn-sub-menu"> <a ui-sref="home.updateRule">Update Rule</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="createnew-head">
                <div class="col-md-6 col-sm-6">
                    <h2 class="title-head"> Create Use Case </h2>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="tabs">
                <div class="tabsreg">
                    <form name="CrtUsecaseFrm" novalidate autocomplete="off">
                        <div class="margintp1 col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-6">
                                        <label> Cyber Security <span class="red"> *</span></label>
                                        <select class="form-control" required ng-model="frameWork" ng-change="frameWorkUsecase()">
                                            <option ng-repeat="Usecaseframeval in UsecaseFramework | orderBy:'Name'" value="{{Usecaseframeval.SurrId}}">
                                                {{Usecaseframeval.Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label> Use Case category <span class="red"> *</span></label>
                                        <select class="form-control" required ng-model="useCaseCat" ng-change="UsecaseCatgChange()">
                                            <option ng-repeat="UsecaseCatg in UsecaseCatgs | orderBy:'Name'" value="{{UsecaseCatg.SurrId}}">
                                                {{UsecaseCatg.Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label> Use Case SubCategory <span class="red"> *</span></label>
                                        <select class="form-control" required ng-model="useCaseSubcat">
                                            <option ng-repeat="useCaseSubcatdata in useCaseSubcatdatas | orderBy:'Name'" value="{{useCaseSubcatdata.SurrId}}">
                                                {{useCaseSubcatdata.Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="margintp2">
                                        <div class="col-md-4 col-sm-6">
                                            <label> Use Case ID <span class="red"> *</span></label>
                                            <input type="text" class="form-control" required maxlength="10" placeholder="Use Case ID" ng-model="usecaseID">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <label> Use Case Name <span class="red"> *</span></label>
                                            <input type="text" class="form-control" required maxlength="100" placeholder="Use Case Name" ng-model="usecaseName">
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <label> Use Case Description </label>
                                            <textarea class="form-control" maxlength="1000" ng-model="usecaseDescrip">
                                            </textarea>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="row">
                                <div class="margintp1">
                                    <div class="col-md-3">
                                        <label>Industry <span class="red"> *</span></label>
                                        <select multiple class="form-control" required ng-model="UsecaseIntry" ng-change="chckindustry()">
                                            <option ng-repeat="industrydata in industrydatas  | orderBy:'Name'" value="{{industrydata.SurrId}}">
                                                {{industrydata.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="margintp1 col-md-12">
                                <div class="col-md-offset-4 col-md-4">
                                    <button type="reset" class="btn btn-none tabsbtn" ng-click="reSet()" id="reSet"> Clear</button>
                                    <button type="submit" ng-click="goTo()" class="btn btn-primary tabsbtn"> Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>